<ion-header>

  <ion-navbar>
    <ion-title>createBlip</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="createBlipForm" (ngSubmit)="onSubmit(createBlipForm.value)">
    <ion-item [ngClass]="{'error-border':!createBlipForm.controls.title.valid && createBlipForm.controls.title.touched}">
      <ion-label floating>Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="createBlipForm.controls.title.hasError('required') && createBlipForm.controls.title.touched">
      <p>Sorry, title is required!</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!createBlipForm.controls.content.valid && createBlipForm.controls.content.touched}">
      <ion-label floating>Content</ion-label>
      <ion-input formControlName="content" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="createBlipForm.controls.content.hasError('required') && createBlipForm.controls.content.touched">
      <p>Content is not valid.</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!createBlipForm.controls.topics.valid && createBlipForm.controls.topics.touched}">
      <ion-label floating>Topics</ion-label>
      <ion-input formControlName="topics" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="createBlipForm.controls.topics.hasError('required') && createBlipForm.controls.topics.touched">
      <p>Topics is not valid.</p>
    </ion-item>

    <button ion-button full color="primary" [disabled]="!createBlipForm.valid" style="margin-top: 20px;" type="submit">Post</button>
  </form>
</ion-content>