<ion-header>

  <ion-navbar>
    <ion-title>Create Blip Page</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="createBlipForm" (ngSubmit)="onSubmit(createBlipForm.value)">
    <ion-item [ngClass]="{'error-border':!createBlipForm.controls.title.valid && createBlipForm.controls.title.touched}">
      <ion-label floating>Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="createBlipForm.controls.title.hasError('required') && createBlipForm.controls.title.touched">
      <p>Sorry, title is required!</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!createBlipForm.controls.content.valid && createBlipForm.controls.content.touched}">
      <ion-label floating>Content</ion-label>
      <ion-input formControlName="content" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="createBlipForm.controls.content.hasError('required') && createBlipForm.controls.content.touched">
      <p>Content is not valid.</p>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let topic of topics">{{topic}}</ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item [ngClass]="{'error-border':!createBlipForm.controls.topics.valid && createBlipForm.controls.topics.touched}">
            <ion-label floating>Topics</ion-label>
            <ion-input formControlName="topics" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <button ion-button round outline type="button" [disabled]="topics.length>=3 || !createBlipForm.controls.topics.valid" (click)="addTopic(createBlipForm.value.topics)">Add</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item *ngIf="createBlipForm.controls.topics.hasError('required') && createBlipForm.controls.topics.touched">
            <p>Topics is not valid.</p>
          </ion-item>
          <ion-item *ngIf="createBlipForm.controls.topics.hasError('exists')">
            <p>Topic has already been added.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-2>
          <button ion-button round outline color="primary" [disabled]="!createBlipForm.valid" type="submit">Post</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>